/* CSS Document */

html, body {
	width: 100%; height: 100%;
	padding: 0; margin: 0 auto;
}

body {
	background-color: #eee;
	font: 0.85em/1.7 Verdana, Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 { color: #34425b;  margin: 0; padding: 0; }
h1 { font-size: 1.6em; font-weight: normal; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

a { color: #666; border-bottom: #999 1px solid; text-decoration: none;}
a:hover { border: none; }
ul { list-style: none; margin: .2em; padding: 0; }
p { text-align: left; text-indent: .3em; margin: .2em; }
table { font-size: 1em; }

form { margin: 0; padding: 0; }

input {
	background-color: #eee;
	border: #ccc 1px solid;
	font: 0.85em/1.2 Verdana, Arial, Helvetica, sans-serif;
	margin: 0; padding: .2em;
}

input.button {
	margin-top: .3em;
}

fieldset {
	line-height: 1.2em;
	margin: .5em 0;
	border: none;
}
fieldset p {
	text-indent: 0;
	margin: .3em 0 0 0;
}

.underline { border-bottom: #ddd .1em solid; }
.bb { border: #000 1px solid; }
.nomargin { margin: 0; padding: 0; }
input.date { width: 7em; }

#sidebar h2 { font-variant: small-caps; }
#wrap {
	width: 95%;
	min-height: 90%;
	background-color: #fff;
	border: #ccc solid 1px;
	margin: auto; padding: 1em;
}
* html #wrap { height: 90%; }

#sidebar { float: right; width: 22%; font-size: 0.8em; margin-left: 1em; }
#content { float: left; width: 75%; }

#space { height: 1px; clear: both; visible: none; }
#footer { font-size: 0.8em; color: #ddd; }

#login {
	border: #ddd 1px solid;
	padding: .5em;
	margin:  6em auto ;
	width: 40%;
}

#login input.text { font-size: 1.4em; max-width: 90%; width: 12em; }
#login input.submit { font-size: 1em; }
#navigation {
	word-spacing: .5em;
	margin: .5em 0;
	padding-right: 2em;
	text-align: right;
}
#navigation .active, #navigation a.active { background-color: #666; color: #fff; font-weight: bold; width: 3em; }

table.tdata {
	width: 100%;
	margin: .3em auto;
	border-collapse: collapse;
	font-size: .85em;
	line-height: 1.3em;
}
.tdata td,th { border: #666 1px solid; padding: .2em; }
.tdata th { text-align: left; }

table.data {
	margin: .3em;
	border-collapse: collapse;
	font-size: .85em;
	line-height: 1.3em;
}

table.data td,th { border: #666 1px solid; padding: .2em; }
table.data th { text-align: left; }

dl.error {
	border: #f33 2px solid; 
	width: 70%;
	margin: 1em auto; padding: .5em;
	font-size: .8em;
}
dl.error dt { color: #f33; font-weight: bold; }
dl.error dd { padding: 0; margin: 0 .5em; line-height: 1.2em; }
dl.error ul { padding: .5em 1.5em; list-style-type: square; }

div.tip { font-size: .8em; }

.deleted { background-color: #f99; }
.mistake { background-color: #f99; }

#nodata {
	width: auto;
	padding: 2em;
	background-color: #eee;
	border: #ccc solid 1px;
}

.put { color: #097b00; background-color: #e5fbe3; }
.huge { font-size: 1.5em; }
.nowrap { white-space: nowrap; }
.red { color: #f00; }